<div class="container">
  <div class="row">
    <h2>Hello World</h2>
    <p>
      The time is now: <%= Time.now %>
    </p>

    <p>
      はるひこにゃんだよー
    </p>
    <p>
      開発手伝ってくれる人絶賛募集中
    </p>
    <p>
      試しに団員募集でも作ってってな
    </p>
    <p>
      レスポンシブデザイン難しいというかbootstrapくんをまだ使いこなせてない
    </p>
    <p>
      <%= link_to '団員募集', recruits_path %>
    </p>
  </div>
</div>

