<h2>回答結果</h2>

<% @questionnaire_answer.questionnaire_item_answers.each do |qia| %>
  <hr>
  <h4><%= qia.questionnaire_item.title %></h4>
  <p>
    <% unless qia.questionnaire_choices_options.blank? %>
      選択肢:
      <% qia.questionnaire_choices_options.each do |option| %>
        <%= option.try(:option_name) %>&nbsp;
      <% end %>
    <% end %>
  </p>
  <%= simple_format(qia.free_text_answer) %>
  <p><%= link_to 'この解答欄の回答一覧を見る', qia.questionnaire_item %></p>
<% end %>


