<h4><%= @questionnaire_item.title %>の回答一覧</h4>

<% @questionnaire_item_answers.each do |qia| %>
  <p>
    <% unless qia.questionnaire_choices_options.blank? %>
      選択肢:
      <% qia.questionnaire_choices_options.each do |option| %>
        <%= option.try(:option_name) %>
      <% end %>
    <% end %>
  </p>
  <p>自由回答欄:<%= simple_format(qia.free_text_answer) %></p>
  <hr>
<% end %>


