<div class="container">
  <div class="row">
    <h2>The information about the Schubert Project.</h2>
    <div>
      <p>このサイトが何のために作られたか</p>
      <p>要望などの連絡先：O氏が有力か</p>
      <p>Special Thanks:</p>
      <p>相互リンク？</p>
      <p>オケ責任者に向けた言葉</p>
      <p>利用規約</p>
      <p>などなど</p>
    </div>
  </div>
</div>

