<div class="container">
  <div class="row">
    <h1>団員募集編集</h1>
    <p><%= link_to '団体を編集する', edit_team_path(@team), method: :post %></p>

    <%= render 'form', recruit: @recruit%>


    <p><%= button_to '募集を削除する', @recruit, method: :delete, data: { confirm: 'Are you sure?' }  %></p>
    <%= link_to 'Back', recruits_path %>
  </div>
</div>
