<div class="container">
  <div class="row">
    <h1>団員募集編集</h1>
    <p><%= link_to '団体を編集する', edit_team_path(@team)%></p>

    <%= render 'form', recruit: @recruit%>

    <%= link_to 'Show', @recruit %> |
    <%= link_to 'Back', recruits_path %>
  </div>
</div>
